*{
  box-sizing: border-box;
  outline: none;
}
/* IMPORT DA FAMILY */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* IMPORT DA FAMILY */
body{
  background-color: #101010 ;
}
/* MY CONTACT */
h1{
  text-align: center;
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 64px
}
span{
  color: #7353BA;
}

/* FORMULÁRIO */
.form{
  padding: 30px;
  margin: auto;
  width: 550px;
  height: 500.06px;
  background-color: #7353BA;
  color: white;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  font-family: 'Bebas Neue', cursive;
  
}
input{
  display: block;
  width: 492px;
  padding: 20px;
  border-radius: 14px;
  border: none;
  margin-top: 8px;
  margin-bottom: 40px;
}
button{
  width: 492px;
  height: 78.61px;
  font-family: 'Bebas Neue', cursive;
  border-radius: 14px;
  background-color: #3D286B;
  color: white;
  border: none;
  font-size: 1.8em;
  transition: all 1s;
  margin-top: 10px;
}

/* HOVER DO BUTTON */
button:hover{
  background-color: #7A60B4;
  cursor: pointer;
  transition: all 0.5s;
  
}

/* MENSAGEM DE ERRO */
.erro-nome{
  position: absolute;
  top: 51.5%;
  left: 31.5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.erro-email{
  position: absolute;
  top: 72.5%;
  left: 31.5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.erro-whats{
  position: absolute;
  top: 92.5%;
  left: 31.5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
/* MUDANDO CLASSES PARA MENSAGENS DE ERRO */
.erro-nome-errado{
  color: red;
}
.erro-nome-certo{
  color: green;
}

.erro-email-errado{
  color: red;
}
.erro-email-certo{
  color: green;
}

.erro--errado{
  color: red;
}
.erro--certo{
  color: green;
}